{{> header}}

<div class="page-catalogue">
  <main class="container">

    <div class="catalogue-header">
      <h1>{{titre}}</h1>
      <input type="text" id="search-box" class="search-box" placeholder="Rechercher..." />
      {{#if nombreProduits}}
        <p class="catalogue-info">{{nombreProduits}} outil(s) disponible(s)</p>
      {{/if}}
    </div>

    {{!-- cas d'erreur --}}
    {{#if erreur}}
      <div class="alert alert-error">
        <span>{{erreur}}</span>
      </div>
    {{/if}}

    <div class="produits-grid">
      {{#each produits}}
        <article class="produit-card" data-product-id="{{id}}">
          <div class="produit-image-container">
            <img
              src="{{image}}"
              alt="{{nom}}"
              class="produit-image">
          </div>

          <div class="produit-content">
            <h3 class="produit-titre">{{nom}}</h3>
            <p class="produit-description">{{description}}</p>

            <div class="produit-footer">
              <div class="produit-prix">
                <span class="prix-label">Tarif journalier</span>
                <div class="prix-stock-info">
                    <span class="prix-montant">{{prix}} €/jour</span>
                    <span class="stock">reste {{stock}}</span>
                </div>
              </div>
            </div>
          </div>
        </article>
      {{/each}}
    </div>

    {{#if pagination.afficherPagination}}
      <div class="pagination-container">
        <button class="btn-pagination btn-precedent">
          ← Précédent
        </button>
        <span class="page-info">Page {{pagination.pageActuelle}} sur {{pagination.totalPages}}</span>
        <button class="btn-pagination btn-suivant">
          Suivant →
        </button>
      </div>
    {{/if}}

  </main>
</div>

{{> footer}}