{{> header}}

<div class="page-catalogue">
  <main class="container">

    <div class="catalogue-header">
      <h1>{{titre}}</h1>
      {{#if nombreProduits}}
        <p class="catalogue-info">{{nombreProduits}} outil(s) disponible(s)</p>
      {{/if}}
    </div>

    {{!-- cas d'erreur --}}
    {{#if erreur}}
      <div class="alert alert-error">
        <span>{{erreur}}</span>
      </div>
    {{/if}}

    <div class="produits-grid">
      {{#each produits}}
        <article class="produit-card {{#unless disponible}}indisponible{{/unless}}" data-product-id="{{id}}">
          <div class="produit-image-container">
            <img
              src="../front/assets/images/produits/{{image}}"
              alt="{{nom}}"
              class="produit-image">
          </div>

          <div class="produit-content">
            <h3 class="produit-titre">{{nom}}</h3>
            <p class="produit-description">{{description}}</p>

            <div class="produit-footer">
              <div class="produit-prix">
                <span class="prix-label">Tarif journalier</span>
                <div class="prix-stock-info">
                    <span class="prix-montant">{{prix}} €/jour</span>
                    <span class="stock">reste {{stock}}</span>
                </div>
              </div>
            </div>
          </div>
        </article>
      {{/each}}
    </div>

  </main>
</div>

{{> footer}}
