{{> header}}

<h1> DETAIL OUTIL </h1>
<img
    src="../front/assets/images/produits/{{image}}"
    alt="{{nom}}"
    class="produit-image"><hr>
<h3>{{nom}}</h1><hr><hr>
<p>{{description}}</p><hr>
<h1>Prix : {{prix}}</h1><hr>
<h1>Stock : {{stock}}</h1><hr>
<h1>Disponible : {{disponible}}</h1><hr>

{{> footer}}